/build/
/dist/
Thumbs.db
nbproject/build-native.xml~
javadoc.zip
persistence.xml
/javadoc/
/.jacocoverage/
/build
/target/
/out/
/**/.sonar/
**.jacocoverage/
**/*.iml
*.iml
*.versionsBackup
*.log
*.tlog
*.project
**/*.project
**/*.classpath
**/.settings
/.settings
*.factorypath
**/*.factorypath
**/*.flattened-pom.xml
**/flatter.pom
flatter.pom
**/target/**
/target/*
**/target
**dependency-reduced-pom.xml

**.iml
*.rar
build.ps1
**/.vscode/
/.idea/workspace.xml
/.idea/shelf/
/logs/
/JWebMP/plugins/angular-maven-plugin/.idea/vcs.xml
/JWebMP/plugins/angular-maven-plugin/.idea/misc.xml
/JWebMP/plugins/angular-maven-plugin/.idea/jarRepositories.xml
/JWebMP/plugins/angular-maven-plugin/.idea/encodings.xml
/.idea/copilotDiffState.xml
/JWebMP/plugins/angular-maven-plugin/.idea/compiler.xml
/JWebMP/plugins/angular-maven-plugin/.idea/copilot.data.migration.ask2agent.xml
/JWebMP/plugins/angular-maven-plugin/.idea/inspectionProfiles/Project_Default.xml
